<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/Bootstrap.php">
    <testsuites>
        <testsuite name="acl">
            <directory>./test/Acl</directory>
        </testsuite>
        <testsuite name="user">
            <file>./test/Acl/UserTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
