<?php

namespace ZF\OAuth2\Doctrine\Permissions;

use ZF\MvcAuth\Authorization\AuthorizationInterface;

return [
    'service_manager'    => [
        'aliases'    => [
// Uncomment for ACL
//            AuthorizationInterface::class => Authorization\AclAuthorization::class,
        ],
        'factories' => [
            Authorization\AclAuthorization::class => Factory\AclAuthorizationFactory::class,
        ],
    ],
];
